.*
*.param
!.gitignore
*.zip
*.docx
*.coll
*.aif
*.pd_darwin
*.wav
*.bz2
mmb/
pd-l2ork/
lessons/grains/Jags/
lessons/grains/LovelyHeart/
work

lessons 2015/grains/Jags/

lessons 2015/grains/LovelyHeart/

lessons 2015-2016/grains/Jags/

lessons 2015-2016/grains/LovelyHeart/
